export(HLBoot)
export(MFBoot)
export(MFClus)
export(MFClusBoot)
export(MFmp)
export(MFr)
export(MFSubj)
export(MFh)
export(MFnest)
export(MFhBoot)
export(MFnestBoot)
export(MFClusHier)
export(MFClusBootHier)
import(dplyr)
importFrom(stringr, str_c, str_subset)
importFrom(tidyr, gather, unite, spread)
importFrom(forcats, fct_relevel)
importFrom(methods, "new")
importFrom(stats, "median", "model.frame", "na.omit", "pnorm",
             "qnorm", "qt", "quantile", "terms")
importFrom("plyr", "ddply", ".", 'rbind.fill')
importFrom('purrr', 'as_vector')
importFrom('rlang', ':=')
